# Angular
/dist
/tmp
/out-tsc
/angular/cache

# Node.js
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Sistema
.DS_Store
Thumbs.db

# Environments (opcional)
src/environments/environment.local.ts
