<main class="productos">
  <h1>Los mejores productos</h1>

  <div class="grid-productos">
    <div *ngFor="let producto of productos" class="producto-card">
      <img [src]="producto.image" [alt]="producto.name" class="producto-img" />
      <h3>{{ producto.name }}</h3>
      <p>{{ producto.description }}</p>
      <strong>${{ producto.price }}</strong>
      <div class="boton-container">
        <button (click)="abrirModal(producto)">Ver más</button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div *ngIf="productoSeleccionado" class="modal-overlay">
    <div class="modal-content">
      <h2>{{ productoSeleccionado.name }}</h2>
      <img [src]="productoSeleccionado.image" alt="{{ productoSeleccionado.name }}" class="producto-img" />
      <p>{{ productoSeleccionado.description }}</p>
      <strong>${{ productoSeleccionado.price }}</strong>
      <br /><br />
      <button (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
</main>
